:root {
  --se-background:  #000000;
  --se-forground:  #ffffff;
  --se-accent:  red;
}



/*************************************/
/* Cards                             */
/*************************************/

.se-card {
  border-radius: 8px;
  background: #eee;
}

.se-card__header img {
  object-fit: cover;
}

.se-card__body {
  text-align: center;
}